*.pcapng
*.pcapng
*.pcapng
*.pcapng
/Pemrograman Berbasis Objek/TP_MOD_10_103032300013_SyahrilArfianAlmazril/target/
/Pemrograman Berbasis Objek/TP_Mod_12_103032300013_SyahrilArfianAlmazril/nbproject/private/
